.myAccordian {
  width: 50%;
  margin: 0 auto;
  background-color: rgba(255, 169, 39, 0.817);
}

.accordion-button {
  background-color: rgba(255, 169, 39, 0.817);
}

.accordion-body {
  background: pink;
}

.accordion-button:not(.collapsed) {
  background: rebeccapurple;
  color: white;
}

.myAlert {
  width: 50%;
  margin: 100px auto;
}

.myCarousel,
.carousel-inner {
  height: 800px !important;
}

#carouselExampleAutoplaying .carousel-control-prev-icon,
#carouselExampleAutoplaying .carousel-control-next-icon {
  border: 10px solid red;
  background: white;
  height: 200px;
}
